<div class ='loginContainer'>
  <h1>Log In </h1>

  <form action ="/login" method = 'post'>

    <div class = 'emailContainer'>
        <p>Email</p>
        <div class = 'inputContainer'>
          <input 
            type= 'text' 
            name="email"
            id = 'email' 
            class="input"
            placeholder="email"
            required>
        </div>
    </div>

    <div class = 'passwordContainer'>
        <p>Password</p>
        <div class = 'inputContainer'>
          <input 
            type= 'text'
            name="password" 
            id = 'password' 
            class="input"
            placeholder="Passsword"
            required>
        </div>
    </div>

    <input type="submit" value = 'login'>

    
  </form>
</div>

